.eventContainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .h3-text {
    font-size: 200%;
    margin-left: 7%;
    margin-right: 7%;
  }

  .h4-text {
    color: #4C7032;
    font-family: 'Inria Serif', serif;
    font-size: 110%;
    margin-left: 7%;
    margin-right: 7%;
  }
  
  .eventCard {
    width: 200px;
    height: 920px;
    margin-top: 20px;
    margin-right: 80px;
    margin-bottom: 20px;
    border: 1px #4C7032;
    border-radius: 1pc;
    box-shadow: 10px 10px 20px rgba(37, 72, 32, 0.986);
  }
  
  .eventAll {
  text-align: center;
  color: #4C7032;
  font-family: 'Inria Serif', serif;
  margin-top: 16%;
  }
  
  @media screen and (max-width: 767px) {
    .eventContainer {
      justify-content: center;
    }
  
    .eventCard {
      margin: 0px;
      width: 300px;
      margin-bottom: 20px;
      margin-top: 20px;
  
    }
  
  }